# Node.js
node_modules/
pnpm-lock.yaml
yarn.lock
package-lock.json

# Build outputs
dist/
.build/
.svelte-kit/
public/build/

# SvelteKit
.env
.env.*
.vite

# OS files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
.idea/

# Local dev files
dev-server.pid

# Static assets or temporary files
*.tmp
*.temp



dev-server.err.log
dev-server.out.log
